
<div class="row">
    <div class="col-xs-12">
        <img 
        [src]="recipe.imagePath" 
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-height: 300px;"
        >
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{ recipe.name }}</h3>
    </div>

</div>
<div class="container">
<div class="row">
    <div class="col-cs-12">
        <div class="btn-group"
        appDropdown>
            <button type="button"  class="btn btn-warning dropdown-toggle">Manage <span class="caret"></span></button>   
            <ul class="dropdown-menu">
                <li><a href="#">Add to list</a></li>
                <li><a href="#">Edit list</a></li>
                <li><a href="#">Delete item</a></li>

            </ul>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>
</div>